<!--
  Generated template for the UserProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="auth.user$ | async; then authenticated else guest ">

  </div>
</ion-content>

<!-- User NOT Logged in -->
<ng-template #guest>
  <h3>Howdy, GUEST</h3>
  <p>Login to get started...</p>

  <button (click)="auth.googleLogin()">
    <i class="fa fa-google">Connect Google</i>
  </button>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user">
      <ion-item no-lines>
          <ion-avatar>
            <img [src]="user.photoURL" alt="">
          </ion-avatar>
        </ion-item>
      <h3>Howdy, {{user.displayName}}</h3>
      
      <p>UID: {{ user.uid }}</p>
      <p>Roles: {{user.roles | json}}</p>
      
      <button (click)="auth.logout()">
        <i class="fa fa-google">logout</i>
      </button>

  </div>
</ng-template>


